{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <!-- fivicon -->
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/png" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Programs</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-finance-business.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
<style>
  /* Add any custom styling for the popup here */
  .popup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: #00ff37;
      border: 1px solid #00ff37;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
  }
  /* Add styling for the loader */
  .loader {
    display: none;
    border: 4px solid #ad2727;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    z-index: 1001;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
</style>
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <li><a href="#"><i class="fa fa-clock-o"></i>Mon-Fri 09:00-17:00</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+250-781-278-118</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">
            <li><a rel="nofollow" href="https://www.facebook.com/KurangaDigital/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/patrickaimableu" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://rw.linkedin.com/in/uwitonze-patrick-aimable-17266269" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/kuranga.digital.ltd/?hl=fr" target="_blank"><i class="fa fa-instagram"></i></a></li> 
            <!-- <li><a href="#"><i class="fa fa-behance"></i></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}"><h2>Kuranga DIGITAL Ltd</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'services' %}">Our Services</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'programs' %}">Our Programs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="one-page.html">One Page</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Our Programs</h1>
            <span>We are over 10 years of experience</span>
          </div>
        </div>
      </div>
    </div>

    <div class="single-services">
      <div class="container">
        <div class="row" id="tabs">
          <div class="col-md-4">
            <ul>
              <li><a href='#tabs-1'>ASA<i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-2'>MY PATHPRENEUR<i class="fa fa-angle-right"></i></a></li>
              <!-- <li><a href='#tabs-3'>DOD<i class="fa fa-angle-right"></i></a></li> -->

              <!-- <li><a href='#tabs-20'>Software Sales <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-2'>Company Setting <i class="fa fa-angle-right"></i></a></li> -->
              <!-- <li><a href='#tabs-5'>Taxes <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-3'>Add-on Software <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-4'>Chart of Accounts <i class="fa fa-angle-right"></i></a></li>  
              <li><a href='#tabs-6'>Inventory <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-7'>Budget & Payroll <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-8'>Customer & Supplier <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-9'>Purchase Order & Estimate <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-10'>Invoice & Bill <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-11'>Account Receivables <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-12'>Account Payable <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-13'>Bank Transaction <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-14'>Bookkeeping <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-15'>Reconciliation <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-16'>Reports <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-17'>Financial Statements <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-18'>One To One Consultation <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-21'>Troubleshooting / Problem Resolution <i class="fa fa-angle-right"></i></a></li> -->



            </ul>
          </div>
          <div class="col-md-8">
            <section class='tabs-content'>
              
              <article id='tabs-1'>
                <img src="{% static 'assets/images/ASA-program.png' %}" alt="">
                <h4>Accounting Software Academy</h4>
                <p  style="text-align: justify;">ASA(Accounting Software Academy)  is  the fully hands on  program we initiated to bridge the gap between classroom learning and labor market in the area of Accounting, Management and Finance  to help students find their dream jobs or create their own with confidence and competence  with  “QuickBooks”. This guarantees the success and marketability of your Students and your institution</p>
                <h4>PROBLEM WORTH SOLVING</h4>
                <p style="text-align: justify;">Rwanda and the world in general is quickly adapting technology in all sectors of life. However, looking at the academic Curriculum, it does not move with the acceleration of update in variants and versions in the technology field. This shortcoming created a very big gap comparing acquired skills from classroom to the labor market requirements where graduates find themselves lost! 
                </p>
                <h4>Vision</h4>
                <p style="text-align: justify;">Increasing digital career readiness by developing 21st century skills through personal finance and entrepreneurship education.
                </p>
                <h4>Mission</h4>
                <ul>
                  <li> Creating new opportunities</li>
                  <li>Revitalizing communities</li>
                  <li> Expanding possibilities.</li>
                </ul>
                <h4>COMMUNITY  IMPACT</h4>
                <p style="text-align: justify;">In 10 years of operation, KURANGA DIGITAL Ltd together with our partners, have had a significant impact on the community and the country  economic ,through which the major focus is to improve  both Hands on skills Education , businesses & NGOs operations  in the competitive digital finance tool “QuickBooks” through capacity building program (ASA) and consultancy . We improved the labor market fit skills for students, graduates and job seekers where more than 75%  from  “ASA”  were linked with jobs. Our program increases students confidence ,helps their resumes stand out ,increases the value of  Academics and provides also  additional recruitment tool to  Academics program. 
                </p>
                <h4> Beneficiaries</h4>
                <p style="text-align: justify;">ASA program  intends to help both Schools and students to enhance practical learning skills in the field of accounting and finance and also  to access in full all QuickBooks toolkits.
                </p>
              </article>

              <article id='tabs-2'>
                <img src="{% static 'assets/images/pathprener.png' %}" alt=""><br>
                <h4>My Pathprener</h4>
                <p style="text-align: justify;">MyPathpreneur program is specifically designed for passionate entrepreneurs aiming to strengthen their potential in managing business by equipping them with practical financial literacy and introducing innovative technology tools in finance (QuickBooks).</p>
                <h4>PROBLEM WORTH SOLVING</h4>
                <p style="text-align: justify;">Most businesses are created by passionate entrepreneurs who significantly lack financial and business management skills in their operations. Thus businesses are unable to survive on the market on the long run even if those businesses are making good sales on a regular basis, simply because such entrepreneurs have insufficient modern skills to manage company’s resources</p>
                <h4>Vision</h4>
                <p style="text-align: justify;">Increasing digital career readiness by developing 21st century skills through personal finance and entrepreneurship education.</p>
                <h4>Mission</h4>
                <ul style="text-align: justify;">
                  <li>Creating new opportunities</li>
                  <li>Revitalizing communities</li>
                  <li>Expanding possibilities through enhanced technology based skills.</li>
                </ul>
                <h4>IMPACT  TO ENTREPRENEURSHIP</h4>
                <p style="text-align: justify;">In 10 years of operation, KURANGA DGITAL Ltd has had a significant impact on the community through which the major focus is improve business operations & services using digital finance tools such as QuickBooks.
                  Kuranga Digital embarked on its role in bridging the gap in the labor market and education scheme then opened a training facility which improved labor market fit-tech skills in finance for students ,graduates to embark and grow existing startups. Partnering with you can be of a useful impact to both of us, your beneficiaries and the country. Adults learn better by participation practices with evidence, QuickBooks is all about that in the area of finance and accounting.
                  </p>
                  <h4>Beneficiaries</h4>
                  <p style="text-align: justify;">MyPathpreneur intends to empower young entrepreneurs, women-led businesses and SME’s in hands-on financial skills by using QuickBooks.
                  </p>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>

    <div class="callback-form callback-services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Request a <em>call back</em></h2>
              <span>Interested in knowing more? Request a call back for prompt assistance</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="contact-form">
              <form id="contact" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      {{ form.full_name }}
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      {{ form.email }}
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      {{ form.phone_number }}
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      {{ form.subject }}
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      {{ form.message }}
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="border-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center section-heading">
            <h2>Our <em>Partners</em> and <em>Membership</em></h2>
            <span>Our partners are the best in the market</span>
            <br><br>
            <div class="owl-partners owl-carousel">
            
              <div class="partner-item">
                <img src="{% static 'assets/images/natcom.png' %}" title="1" alt="1">
              </div>
              <div class="partner-item">
                <img src="{% static 'assets/images/nccr.png' %}" title="2" alt="2">
              </div>
              
              <div class="partner-item">
                <img src="{% static 'assets/images/klab.png' %}" title="3" alt="3">
              </div>
              
              <div class="partner-item">
                <img src="{% static 'assets/images/bpn.png' %}" title="4" alt="4">
              </div>
              
              <div class="partner-item">
                <img src="{% static 'assets/images/partner1.png' %}" title="5" alt="5">
              </div>

              <div class="partner-item">
                <img src="{% static 'assets/images/partner2.png' %}" title="5" alt="5">
              </div>

              <div class="partner-item">
                <img src="{% static 'assets/images/partner3.png' %}" title="5" alt="5">
              </div>

              <div class="partner-item">
                <img src="{% static 'assets/images/psf.png' %}" title="5" alt="5">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-item">
            <h4>Kuranga DIGITAL Ltd</h4>
            <p style="text-align: justify;">Kuranga Ltd is a leading finance company dedicated to empowering individuals through comprehensive training programs and strategic connections.</p>

            <ul class="social-icons">
            <li><a rel="nofollow" href="https://www.facebook.com/KurangaDigital/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/patrickaimableu" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://rw.linkedin.com/in/uwitonze-patrick-aimable-17266269" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/kuranga.digital.ltd/?hl=fr" target="_blank"><i class="fa fa-instagram"></i></a></li> 
            <!-- <li><a href="#"><i class="fa fa-behance"></i></a></li> -->
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Useful Links</h4>
            <ul class="menu-list">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'about' %}">Review</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Career</a></li>
              <li><a href="{% url 'about' %}">What people thing</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Quick Access</h4>
            <ul class="menu-list">
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="{% url 'about' %}">How We Work</a></li>
              <li><a href="{% url 'contact' %}">Quick Support</a></li>
              <li><a href="{% url 'contact' %}">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item last-item">
            <h4>Contact Us</h4>
            <div class="contact-form">
              <form id="contact footer-contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>&copy; Kuranga Digital Ltd | since 2014
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
    <script>
      $(document).ready(function() {
        // Attach a submit event handler to the form
        $("#yourForm").submit(function(event) {
            // Prevent the default form submission
            event.preventDefault();

            // Reference to the form and loader
            var form = $(this);
            var loader = $("#loader");

            // Show the loader
            loader.show();

            // Perform an AJAX form submission
            $.ajax({
                type: "POST",
                url: form.attr("action"),
                data: form.serialize(),
                success: function(response) {
                    // Hide the loader
                    loader.hide();

                    // Display the popup message
                    $("#popupMessage").fadeIn();
                    
                    // Reset the form fields
                    $("#contact")[0].reset();

                    // Reset the form fields
                    form.trigger("reset");

                    // Optionally, you can reload the page after a delay
                    setTimeout(function() {
                        location.reload();
                    }, 2000);  // 2000 milliseconds (2 seconds) delay before reloading
                },
                error: function(error) {
                    console.error("Error:", error);

                    // Hide the loader in case of an error
                    loader.hide();
                }
            });
        });
    });
  </script>
  </body>
</html>